// COLORS:
$color-black: #000000;
$color-white: #ffffff;
$color-navigation-gray: #CFCFCF;
$color-background-gray: #403C3B;
$color-background-gray-less: #504B4A;
$color-green1: #72A479;
$color-green2:#618967;
$color-black-more: #211F20;
$color-black-less: #44403F;
$color-gray: rgba(80, 75, 74, 0.9);
$color-gray-section4: rgba(255, 255, 255, 0.05);
$color-gray-section4more: rgba(255, 255, 255, 0.2);


