// COLORS:
$color-black: #000000;
$color-white: #ffffff;
$color-navigation-gray: #CFCFCF;
$color-background-gray: #403C3B;
$color-background-gray-less: #504B4A;
$color-green1: #72A479;
$color-green2:#618967
