@font-face {
    font-family: Gilroy-Medium;
    src: url('../fonts/Gilroy-Medium.ttf');
}
  
@font-face {
    font-family: Gilroy-Bold;
    src: url('../fonts/Gilroy-Bold.ttf');
}

@font-face {
    font-family: Gilroy-Light;
    src: url('../fonts/Gilroy-Light.ttf');
}
  
body {
    font-family: Gilroy-Light;
    src: url('../fonts/Gilroy-Light.ttf');

}